# Python
__pycache__/
*.pyc
.venv/
.env/

# Java / Maven / Gradle
target/
*.iml
.gradle/
build/

# CMake / C++
build/
*.o
*.obj
*.exe
*.out

# LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk

# Datos pesados temporales
results/*.prof
massif.out.*
