# Default ignored files
/../../../../../../../3ºAño/Primer Semestre/BD/Prácticas/STAGE_1/matrix-bench/.idea/shelf/
/../../../../../../../3ºAño/Primer Semestre/BD/Prácticas/STAGE_1/matrix-bench/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../3ºAño/Primer Semestre/BD/Prácticas/STAGE_1/matrix-bench/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../3ºAño/Primer Semestre/BD/Prácticas/STAGE_1/matrix-bench/.idea/dataSources/
/../../../../../../../3ºAño/Primer Semestre/BD/Prácticas/STAGE_1/matrix-bench/.idea/dataSources.local.xml
